<div id ="document_details_placeholder">
<div id = "document_title"><%= @document.title %></div>
<div id = "document_author"><%= @document.user.username %></div>
<div id = "document_status">This is a <%= @document.shared_status %> document</div>
<div id ="document_version_content"><%= @document.versions.last.content %></div>
</div>

<div id = "version_image_wrapper">
  <div id = "document_versions">
<%= render 'versions/show_document_versions' ,:collection => [@document,@versions] %>
</div>
<div id = "order_by_options">
<%= link_to "Order by recent",document_versions_path(@document, :order_recent => true ), :remote => true %> |
<%= link_to "Order by version",document_versions_path(@document, :order_by_version => true ), :remote => true %>
</div>
</div>