<%= semantic_form_for [@document,@version] do |f| %>

<%= f.input :content, :as => :ckeditor, :toolbar=>'Full', :rows =>'700px', :width => '100%' %>
<span class = "version_form_text">Do not reflect changes:</span><%= check_box_tag "dont_save_as_a_new_version" %>

<% f.buttons do %>
<%= f.commit_button :button_html => { :value => "Update" } %>
<% end %>
<%= f.semantic_errors :alert %>
<% end %>
